#env
enviroment="local"

#db 
db_password="elastos"
db_path="/Users/xuxinlai/work/Elink/ch1/db"

#link
link_path="/Users/xuxinlai/work/Elink/ch1/link"
chain_id=83
internal_url="192.168.0.104"
esc_ws_port="7111"
private_key="0xc03b0a988e2e18794f2f0e881d7ffcd340d583f63c1be078426ae09ddbdec9f5"
link_account="elastos@gelaxy.io"
link_password="regtest-elastos"

#accountTool
account_tool_Path="/Users/xuxinlai/work/Elink/accountTool/accontTool"
keystore_path="/Users/xuxinlai/work/elink/1node/keystore.dat"
keystore_password="123"

#contract address
link_address="0x88eD1003b1B8E1e128Bc044eF2a89488DDB6ae8f"
link_interface_address="0xa9e0A397E7Ff13cfE4DD6632B48DA41375292C2F"
dataconsumer_address="0xa0577585FD7fd6b2B3d6e74e577dd4F54c64F596"
