#env
enviroment="local"

#db 
db_password="elastos"
db_path="/Users/xuxinlai/work/Elink/ch1/db"

#link
link_path="/Users/xuxinlai/work/Elink/ch1/link"
chain_id=83
internal_url="192.168.0.104"
esc_ws_port="7111"
private_key="0xc03b0a988e2e18794f2f0e881d7ffcd340d583f63c1be078426ae09ddbdec9f5"
link_account="elastos@gelaxy.io"
link_password="regtest-elastos"

#accountTool
account_tool_Path="/Users/xuxinlai/work/Elink/accountTool/accontTool"
keystore_path="/Users/xuxinlai/work/elink/1node/keystore.dat"
keystore_password="123"

#contract address
link_address="0xFFf1783a12fB247401Af976F51f43d022831767A"
link_interface_address="0x1CC94d4553e4Ed2a608b468DE8964F299F82ff67"
oracle_address="0xf9885B22AbD4Ac4499eCCeEBfDc27c1500a971f1",
dataconsumer_address="0x7bA58598B7ef8516E03ab77e4825B7fa3668becf"
